@charset "utf-8";
@import url("main.css");

.content {
  position: relative;
  display: block;
}

.content-inner {
  position: relative;
  display: flex;
}

.banner {
  height: 200px;
  padding: 30px;
  width: 100%;
  gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
.banner img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 50px; */
}

.banner-text {
  padding: 10px;
}

.banner-text h3 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}

.banner-text p {
  line-height: 1.4;
}

.banner-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
