@charset "utf-8";
@import url("main.css");

.content {
  position: relative;
  display: block;
}

.content-inner {
  position: relative;
  padding: 0 20px;
}

/* 배너================== */
.banner {
  height: 200px;
  width: 100%;
  gap: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
.banner img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 50px; */
}

.banner-text {
  padding: 10px;
}

.banner-text h3 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}

.banner-text p {
  line-height: 1.4;
}

.banner-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

/* ============================================= */

/* 탭================== */

.tab-nav {
  width: 70%;
  line-height: 70px;
  display: flex;
  text-align: center;
}

.tab-nav > li {
  width: calc(100% / 5);
}

.tab-nav > li > a {
  position: relative;
  width: 100%;
  display: block;
  /* padding: 20px 0; */
  line-height: 70px;
}

.tabitem {
  position: relative;
  width: 100%;
  display: none;
  background-color: azure;
}

/* .tabitem:first .tabitem img {
  width: 100%;
  display: block;
} */
.tabitem img {
  width: 100%;
  display: block;
}

/* ============================================= */
