@charset "utf-8";

.content {
  position: relative;
  display: block;
  height: 200px;
  margin: 30px;
  /* padding: 20px; */
}

.content-inner {
  position: relative;
  display: flex;
}

.banner {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
}

.banner-text {
  margin: 10px;
}
.banner-text h3 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #333;
}

.banner-text p {
  line-height: 1.4;
}

.banner-btn {
  justify-content: space-between;
  bottom: 30px;
  /* left: 95%; */
  /* transform: translateX(-50%); */
  width: 80px;
  height: 80px;
  /* font-size: 0; */
  border: 0;
  background: url("../img/arrow.png") no-repeat;
  /* background-position: -122px 0px; */
}
