@charset "utf-8";
@import url("header.css");
@import url("slide.css");
@import url("content.css");

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
}
div {
  display: block;
  unicode-bidi: isolate;
}
.wrap {
  position: relative;
  display: flex;
  background-color: #d8d8d8;
}

.container {
  max-width: calc(100%-200px);
  margin: auto;
  /* background-color: aquamarine; */
}
