@charset "utf-8";
@import url("header.css");
@import url("slide.css");

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
}

.wrap {
  position: relative;
  display: flex;
}

.container {
  max-width: calc(100%-200px);
  /* max-width: 1200px; */
  margin: auto;
}
