@charset "utf-8";
@import url("header.css");

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
li {
  list-style: none;
}

.wrap {
  position: relative;
  display: block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
