@charset "utf-8";

.slide-selction {
  position: fixed;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: rgb(255, 255, 98);
}
.slide-wrap {
  position: relative;
  width: 100%;
}
.slide {
  display: flex;

  animation: slide 3s infinite;
}
@keyframes slide {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
/* .slide-inner {
  padding-top: 10px;
  background-color: aquamarine;
} */
