@charset "utf-8";

.slide-section {
  position: fixed;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.slide-wrap {
  position: relative;
  width: 100%;
}
.slide {
  display: flex;
  animation: slide 20s infinite;
}
@keyframes slide {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-100%);
  }
  66% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
